<div>
  <div  class="scale-fade">
    <div id="container2"></div>
    <div id="cursor"></div>
    <div id="menuFiltros2">
      <div id="titulo">FILTROS: </div><button id="enlace"><a ng-href="#main">POR CODIGOS POSTALES</a></button>
    </div>
    <div id="menu2">
      <button id="grupos2">ALEATORIO</button>
      <button id="capas2">CAPAS</button>
      <button id="esferas2">ESFERA</button>
      <button id="helices2">HELICE</button>
      <button id="fullscreentoggle2">FULLSCREEN</button>
    </div>
  </div>
</div>
