<div>
  <div  class="scale-fade">
    <div id="container"></div>
    <canvas width="640" height="3250"></canvas>
    <div id="cursorLeft" class="cursor"></div>
    <div id="cursorRight" class="cursor"></div>
    <div id="menu">
      <button id="fullscreentoggle">CAPAS</button>
      <button id="grouped">GROUPED</button>
      <button id="stacked">STACKED</button>
      <button id="ingresos">INGRESOS</button>
      <button id="gastos">GASTOS</button>
      <button id="tarjetas">TARJETAS</button>
      <button id="resumen">RESUMEN</button>
    </div>
  </div>
</div>
