<div>
  <div  class="scale-fade">
    <div id="container"></div>
    <canvas width="640" height="3250"></canvas>
    <div id="cursor"></div>
    <!--<div id="menuFiltros">-->
      <!--<div id="titulo">FILTROS: </div><button id="enlace"><a ng-href="#categorias">POR CATEGORIAS</a></button>-->
      <!--<button id="moredata">DATA++</button>-->
    <!--</div>-->
    <!--<div id="menuFull">-->
      <!--<button id="fullscreentoggle">FULLSCREEN</button>-->
    <!--</div>-->
    <div id="menu">
      <button id="fullscreentoggle">FULLSCREEN</button>
      <div class="dedos">
        <p>ZOMM</p>
        <img class="indicadores" src="images/5dedos.png"></img>
        <p>( acercar / alejar )</p>
      </div>
      <div class="dedos">
        <p>DETALLES</p>
        <img class="indicadores" src="images/4dedos.png"></img>
        <p>( Mantener )</p>
      </div>
      <div class="dedos">
        <p>SELECCIONAR</p>
          <img class="indicadores" src="images/2dedos.png"></img>
          <img class="indicadores" src="images/3dedos.png"></img>
        <p>( Mantener )</p>
      </div>
      <div class="dedos">
        <p>desplazar</p>
        <img class="indicadores" src="images/1dedo.png"></img>
        <p>puntero</p>
      </div>
    </div>
  </div>
</div>
