<div>
  <div  class="scale-fade">
    <div id="container"></div>
    <canvas width="640" height="3250"></canvas>
    <div id="cursor"></div>
    <!--<div id="menuFiltros">-->
      <!--<div id="titulo">FILTROS: </div><button id="enlace"><a ng-href="#categorias">POR CATEGORIAS</a></button>-->
      <!--<button id="moredata">DATA++</button>-->
    <!--</div>-->
    <!--<div id="menuFull">-->
      <!--<button id="fullscreentoggle">FULLSCREEN</button>-->
    <!--</div>-->
    <!--<div id="menu">-->
      <!--<button id="grupos">ALEATORIO</button>-->
      <!--<button id="capas">CAPAS</button>-->
      <!--<button id="helices">HELICE</button>-->
    <!--</div>-->
  </div>
</div>
